<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/logo.png"/>
        <span id="welcomeHeader">
            
        </span>
        <span id="welcomeDescription">O Fraternidade Gamer é um projeto inovador de servidor de Cobblemon que busca criar a maior e mais unida comunidade de Pokémon + Minecraft do Brasil. Com foco na integração entre fãs dos dois universos, o servidor oferece uma experiência única onde jogadores podem capturar, treinar e batalhar com seus Pokémon em um ambiente totalmente personalizado no Minecraft</span>
        <br>
        <span id="welcomeDescCTA"><%- lang('welcome.welcomeDescCTA') %></span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                <%- lang('welcome.continueButton') %>
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>